@tailwind base;
@tailwind components;
@tailwind utilities;

.slide_animation {
  animation: scale 7s linear 0s normal both;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
